.shoes {
  width: 100%;
}

.product-details {
  text-align: center;
}

.jumbo_container {
  width: 100%;
  height: 400px;
  position: relative;
  background-image: url("./mike-petrucci-c9FQyqIECds-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.jumbo_container .inner {
  width: 600px;
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  margin: auto;
}

.jumbo_container .inner h1,
.jumbo_container .inner p {
  margin-top: 60px;
}
